body, html {
    height: 100%;
   margin: 0px;
    padding: 0px;

}

.row{
    margin: 0px;
    padding: 0px;

}

.container{
    margin: 0px;
    padding: 0px;
}

.header-con{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    margin-top: 10px;
}

.header-con img{
    height: 100%;
    width: 15%;
}



.header-con h3{
    color: white;
}

.home{
    border-bottom: thick solid #4286f4;
}

#nav{
    width: auto;
    margin-right: 5%;
}

.seaform{
    margin-left: 10%;
}

.seaform img{
    height: 100%;
    width: auto;
}

.search-con img{
    height: 100%;
    width: auto;
}

.content-con{
    width: 100vw;
    height: 100vh;

    background-image: url(../img/home/war-planet-apes-2504_6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-con{
    margin-top: 60vh;
}

.watchL-btn{
    border: thin solid #4286f4;
    width: 12vw;
    color: white;
    height: 5vh;
    font-size: 1.3vw;
}

.watchN-btn{
    background-color: #4286f4;
    width: 12vw;
    margin-left: 2%;
    color: white;
    height: 5vh;
    font-size: 1.3vw;
}


