.content-con{
  background-image: url(../img/home/war-planet-apes-2504_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}


.content-con>.btn{
    margin-top: 70vh;
    margin-right:  1%;

}
