body, html {
    height: 100%;
    background-image: url(../img/login/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}



.spacer-top {
    margin: 0px;
    margin-top: 1%;


}

.spacer-left{
    margin: 0px;



}

.spacer-right{
    margin: 0px;



}

.login-con{

    margin: 0px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image-con{


    margin: 0px;
    padding: 0px;

    width: 50%;
    height: 80vh;
    background-image: url(../img/login/splashscreen.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.details-con{
    background-color: white;
    margin: 0px;
    padding: 0px;



    height: 80vh;

}

.logo{
    margin: 5%;
    margin-top: 5%;
    padding: 0px;
    height: 100%;
    background-image: url(../img/logo_overlay.png);
    background-repeat: no-repeat;


    background-size: 100% 20vh;

}


.sign1{
    cursor: pointer;
    width: auto;
    text-decoration: underline;
    text-decoration-color: blue;
    margin-top: 10%;
}

.sign2{
    cursor: pointer;
    width: auto;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10%;

}

#spacer-sign{
  width: 20%;
  height: 1%;
}

.username-row{
    width: 80%;
    height: auto;
    margin-top: 14%;
    margin-left: 15%;


}

#user{
    color: rgba(0, 0, 0, 0.5);
}

.password-row{
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;

}



#user-input{
    width: 90%;
    height: 30px;
    border-style: none;
    border-bottom: thin solid #808080;
    margin-left: 1%;
}

#user-input1{
    width: 90%;
    height: 30px;
    border-style: none;
    border-bottom: thin solid #808080;
    margin-left: 1%;
}

#password-input{
  width: 90%;
  height: 30px;
  border-style: none;
  border-bottom: thin solid #808080;
  margin-left: 1%;

}

#password-input1{
  width: 90%;
  height: 30px;
  border-style: none;
  border-bottom: thin solid #808080;
  margin-left: 1%;

}



#remember{

    width: auto;
    height: auto;
    text-decoration: none;
      cursor: pointer;
      color: black;

}

#forgot{

    width: auto;
    height: auto;
    font-weight: bold;
    color: black;
    float: right;
    margin: 0px;
    margin-top: 1%;
    cursor: pointer;


}

.lower-con{
    height: 20vh;
}

.submit-btn{
    width: 75%;
    height: 50%;
    background-color: rgb(24, 171, 255);
    margin-left: 16%;
    cursor: pointer;

}

.submit-btn h3{
    color: white;
    text-align: center;
}

.text-right{
     color: rgba(0, 0, 0, 0.5);
    margin-top: 10%;


}

.pass-op{
  margin-top: 4%;
  margin-bottom: 2%;
}

#error {
  margin-left: 16%;
  width: 75%;
}

#palert{
    margin-left: 16%;
    width: 75%;
    margin-top: 1%;
}

#signup{
    margin-top: 9.5%;
}
