body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.row{
    margin: 0px;
    padding: 0px;

}

.container{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 140vh;
}

.header{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}


.header-con h3{
    color: white;
}

.movies{
    border-bottom: medium solid #18abff;
}

#nav{
    width: auto;
    margin-right: 5%;
}

.seaform{
    margin-left: 10%;
}

.seaform img{
    height: 100%;
    width: auto;
}

.search-con img{
    height: 100%;
    width: auto;
}

.heading-con {
    width: 90vw;
    height: 4vh;
    margin-top: 15vh;
    margin-left: 5vw;
    border-bottom: thin solid #aaaaaa;
}

.heading {
    width: 5.8vw;
    height: 4vh;
    border-bottom: medium solid #18abff;
}

p {
    font-size: 1.7vw;
    color: #18abff;
    margin-top: -1vh;
}

.content-con {
    width: 100vw;
    height: 120vh;
}

.page-nav {
    width: 60vw;
    height: 5vh;
    margin-left: 20vw;
    margin-top: 3vw;
    border: thin solid;
    border-radius: 0.5vh;
}

.row {
    width: 90vw;
    height: 25vh;
    margin-left: 5vw;
    margin-top: 5vh;
    border: thin solid;
}

.footer {
    width: 100vw;
    height: 20vh;
    background-color: rgba(0,0,0,0.7);
}