.navbar-default {
	background-color:rgba(0 , 0, 0, 0.6); !important;


}

.heading-con {
    width: 90vw;
    height: 4vh;
    margin-top: 15vh;
    margin-left: 5vw;
    border-bottom: thin solid #aaaaaa;
}

.heading {
    width: 5.8vw;
    height: 4vh;
    border-bottom: medium solid #18abff;
}

p {
    font-size: 1.7vw;
    color: #18abff;
    margin-top: -1vh;
}

#main-con{
  margin: 0;
  padding: 0;

}

.page-nav {
    width: 60vw;
    height: 5vh;
    margin-left: 20vw;
    margin-top: 3vw;
    border: thin solid;
    border-radius: 0.5vh;
}

.block {
    height: 4.7vh;
    width: 9.6vh;
    border-radius: 0.5vh;
    float: left;
}

.block p {
    color: black;
    text-align: center;
    margin-top: 0.2vh;
}

#gray {
    height: 4.7vh;
    width: 9.6vh;
    border-radius: 0.5vh;
    float: left;
    background-color: lightgray;
}

.grey-block {
    width: 100vw;
    height: 95vh;
    background-color: lightgray;
    margin: 0px;
    margin-top: 3vh;

    padding: 0px;
}

.space {
    width: 100vw;
    height: 1vh;
    padding: 0px;
    margin: 0px;
}

.row {
    width: 85vw;
    height: 40vh;
    margin-left: 7.5vw;
    margin-top: 5vh;

}

.movie {
    width: 15.72vw;
    height: 40vh;
    float: left;
    margin-left: 1vw;
    padding: 0px;
}

.movie img {
    width: 15.72vw;
    height: 40vh;
}

.footer {
    width: 100vw;
    height: 20vh;
    background-color: rgba(0,0,0,0.7);
}
