
/* basic header style for all pages*/

.navbar-brand, .navbar-nav li a {
    line-height: 10vh;
    height: 10vh;
    padding-top: 0;
    max-width: 100vw;
    min-width: 6vw;
    text-align: center;

}



#logo{
  height: 90%;
  margin-top: 10%;
  width: auto;

}

.navbar-form{
    margin-top: 2.5vh;
}

#active a {
  border-bottom: thick solid #4286f4;
  background: rgba(255, 255, 255, 0.1);

}

.navbar-default {
	background-color:rgba(0,0,0,0.5); !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;

}

.navbar-toggle.collapsed{
  background-color:rgba(0 , 0, 0, 0.2); !important;
  margin-top: 2.5vh;
}

.navbar-toggle{
  background-color:rgba(0 , 0, 0, 0.2); !important;
  margin-top: 2.5vh;
}


.navbar-default .navbar-nav>li>a {
   color:#fff;
}



/* basic header*/





/* Movie, series and watchlist basic structure*/

.background-colour {
  background-color: dimgrey
}

.heading{
  color: deepskyblue;
  margin-top: 10vh;
  width: 100%;

}

#heading{

    text-decoration: underline;
    width: 80%;
    border-bottom: thin solid white;
}


#page-selection{
    width: 100%; !important;
}

.pageScroller{
    width: 100%; !important;
}

#selector{
    width: 100%; !important;

}

.datainput{
  width: 25%;
  margin: 0;
  margin-bottom: 1%;
}

#grey-con{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  height: auto;
}

.datadisplay{

  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  width: 20%;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.datadisplay {
      position: relative;
      width: 20%;
    }

.overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.8);
      overflow: hidden;
      width: 94%;
      height: 0;
      transition: .5s ease;
    }

.datadisplay:hover .overlay {
      height: 100%;
}

#footer{
  width: 100%;
  height: 10vh;
  background-color: dimgrey;
}

#footer h5 {
  text-align: center;
  color: white;  
  margin-top: 4vh;
}

@media only screen and (max-width: 767px) and (min-width: 0px){
    
    .datadisplay {
      position: relative;
      width: 50%;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.8);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
    }

    .datadisplay:hover .overlay {
      height: 100%;
    }
    
    .datadisplay{
      background-repeat: no-repeat;
      background-size: contain;
      height: 220px;
      width: 40%;
      margin-right: 1%;
      margin-left: 7%;
      margin-top: 4%;
      margin-bottom: 1%;
    } 
    
    #grey-con{
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      height: 155vh;
    }
    
    .datainput{
      width: ;
      margin-bottom: 1%;
      font-size: 2vh;
    }
    
    .pageScroller{
      width: 100%; !important;
      font-size: 2vh;
    }
}

.movie-content {
    position: absolute;
    margin-top: -17vh;
    margin-left: 18vw;
    height: 220px;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.animation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.datadispay:hover .animation {
    height: 100%
}
