
/* basic header style for all pages*/

.navbar-brand, .navbar-nav li a {
    line-height: 10vh;
    height: 10vh;
    padding-top: 0;
    max-width: 100vw;
    min-width: 6vw;
    text-align: center;


}



#logo{
  height: 80%;
  margin-top: 10%;
  width: auto;
}

.navbar-form{
    margin-top: 2.5vh;
}

#active a {
  border-bottom: thick solid #4286f4;
  background: rgba(255, 255, 255, 0.1);

}

.navbar-default {
	background-color:rgba(0 , 0, 0, 0.1); !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;

}

.navbar-toggle.collapsed{
  background-color:rgba(0 , 0, 0, 0.2); !important;
  margin-top: 2.5vh;
}

.navbar-toggle{
  background-color:rgba(0 , 0, 0, 0.2); !important;
  margin-top: 2.5vh;
}


.navbar-default .navbar-nav>li>a {
   color:#fff;
}



/* basic header*/
